body{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.sliderContainer{
    width: 100%;
    max-width: 1200px;
    margin: 70px auto 0 auto;
    display: flex;
    position: relative;
    z-index: 99;
    color: white;
}
.slider {
    width: 100%;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    z-index: 99;
}
.slider2{
    width: 100%;
    gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    z-index: 99;
}
.slider3{
    width: 100%;
    display: none;
    gap: 20px;
}
.slider img{
    width: 100%;
    height: 100%;
}
.slider2 img{
    width: 100%;
    height: 100%;
}
.slider3 img{
    width: 100%;
    height: 100%;
}
.double{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.doubleFirst{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.doubleSecond{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.triple{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.single{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.single img{
    height: 100%;
}
.overlayParetn{
    position: relative;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 20px;
}
.overlayParetn:hover .overlay {
    opacity: 1;
}
.flex{
    display: flex;
}
.none{
    display: none;
}
.btns{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 900px;
    position: absolute;
    top: 50%;
    z-index: 1;
    bottom: 0;
}
button{
    width: 100%;
    max-width: 50px;
    height: 100%;
    max-height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;

}
button:hover{
    background: cornsilk;
}